*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
body{
	font-family: 'Poppins', sans-serif;
	background-color: #defcf9;
	
}
.logo-text{
	top: 2px;
	color: #93cb52;
}

.navber{
	position: sticky;
	top: 0;
	background: #333;
	color: #ffff;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	padding: 0px 0px;
}

.navber ul{
	display: flex;
	align-items: center;
	list-style: none;
	text-transform: uppercase;
}
.navber ul li a{
	color: white;
	padding: 0.75rem;
	margin: 0 0.25rem;
	transition: 0.6s ease;
}
.navber ul li a:hover{
	background: #93cb52;
	border-radius: 5px;
	color: black;

}
.header-showcase{
	background: url("../img/backimage.jpg") no-repeat center center/cover;
	height: 100vh;
	color: white; 
	background-color: black;
}
.full{
	height: 100%;
	width:100%;
	background-color: rgb(0,0,0,0.4);
}
.header-text{
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-top: 5%;
}
.header-text h1{
	font-size: 50px
}
.header-text h1 span{
	color: #93cb52;
}

.header-text{
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-top: 5%;
}
 h1{
 	letter-spacing: 2px;
 }
 .text-center{
	text-align: center;
	margin: 0 auto;
}
/* DROPDOWN */
dropdown {
  float: left;
  overflow: hidden;

}
.dropdown a{
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 0px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: 0.6s ease;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.footer{
   position: fixed;
   color: #93cb52;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333;
   text-align: center;
   padding: 5px;

}
.footer a{
	color: white;
}
.text-center{
	text-align: center;
	margin: 0 auto;
}
.table-color{
	background-color: green;
	color: white;
}
.space{
	letter-spacing: 4px;
}
.bn{
	
	padding: 0.75rem;
	margin: 0 0.25rem;
	transition: 0.6s ease;
	text-transform: uppercase;
	background: #333;
	color: #ffff;
	justify-content: space-between;
	border: none;
	font-size: 16px;
}
.bn:hover{
	background: #93cb52;
	border-radius: 5px;
	color: black;

}