.text-center{
	ext-align: center;
}
.center {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
}
.item-image {
    width: 200px;
    height: 250px;
    border-radius: 5px;
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
.form-group {
    margin-bottom: 15px;
}
.text {
    font-family: consolas;
    color: black;
}
.form-control {
    display: block;
    width: 100%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
}
.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    width: auto;
    height: 34px;
}
.fform-control{
	width: 110%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
}
input[type=file] {
    display: block;
}