*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;

}

h2{
	text-align: center;
	padding: 20px;
	color: white;
	letter-spacing: 2px;
}
.register{
	width: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 5px 40px 5px 0px;
	background-color: rgba(0, 0, 0, 0.40);
}
#register{
	margin-left: 50px;
}
label{
	color: white;
	font-size: 15px;
}
.gender{
	background: white;
	color:black;
	width: 300px;
	border: none;
	border-radius: 3px;
	outline: 0;
	padding: 7px;
	font-size: 12px;
}
.from-control{
	width: 300px;
	border: none;
	border-radius: 3px;
	background-color: white;
	color: black;
	padding: 7px;
}
.pic{
	margin: 0;
}
#ph{
	width: 65px;
	padding: 6px;
	border: none;
	border-radius: 3px;
	outline: 0;
}
#num{
	width: 230px;
	padding: 7px;
	border: none;
	border-radius: 3px;
	outline: 0;
}
.btn{
	background: none;
	border: 1px solid white;
	color: black;
	padding: 3px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
	border-radius: 3px;
	background-color: white;
}
.btn:hover{
	background-color: none;
	border-color: white;
	background-color: green;
	color: white;
}
.right{
	position: absolute;
    right: 324px;
}