@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
*{
 margin:0;
 padding: 0;
 outline: 0;
}
.filter{
 position: absolute;
 left: 0;
 top: 0;
 bottom: 0;
 right: 0;
 z-index: 1;
 background-color: #6699ff;
 opacity: .7;
}
table{
 position: absolute;
 z-index: 2;
 left: 50%;
 top:50%;
 bottom:0px;
 transform: translate(-50%,-50%);
 width: 60%; 
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;

}
td,th{
 padding: 5px 20px;
 text-align: center;
 

}
th{
 background-color: #6699ff;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;

}
tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}
.btn{
	border:1px solid #3498db;
	background:none;
	padding:5px 20px;
	font-size:15px;
	font-family: 'Montserrat';
	cursor:pointer;
	margin:0px;
}
.btn:hover{
	color:#3498db;
}
.