*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
body{
	font-family: 'Poppins', sans-serif;
	background-color: #defcf9;
	
}
.logo-text{
	color: #93cb52;
}
.navber{
	position: sticky;
	top: 0;
	background: #333;
	color: #ffff;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	padding: 10px 10px;
}

.navber ul{
	display: flex;
	align-items: center;
	list-style: none;
	text-transform: uppercase;
}
.navber ul li a{
	color: white;
	padding: 10px 10px;
	margin: 8px 8px;
	transition: 0.6s ease;
}
.navber ul li a:hover{
	background: #93cb52;
	border-radius: 5px;
	color: black;

}
.header-showcase{
	background: url("../img/backimage.jpg") no-repeat center center/cover;
	height: 100vh;
	color: white; 
	background-color: black;
}
.full{
	height: 100%;
	width:100%;
	background-color: rgb(0,0,0,0.4);
}
.header-text{
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-top: 5%;
}
.header-text h1{
	font-size: 50px
}
.header-text h1 span{
	color: #93cb52;
}

.header-text h2{
	font-size: 30px;
	color: white;
}
 h1{
 	letter-spacing: 2px;
 }
.container-fluid{
	width: 100%;
}
.container{
	width: 1140px;
	margin: auto;
}
.row{
	display: flex;
}
.col-lg-1{
	width: 100%;
}
.col-lg-3{
	width: 33.33%;
	float: left;
}
.col-lg-4{
	width: 40%;
	float: left;
}
.col-lg-6{
	width: 60%;
	float: left;
}
.col-lg-7{
	width: 66.66%;
	float: left;
}
.col-lg-5{
	width: 50%;
	float: left;
}
.col-lg-2{
	width: 25%;
	float: left;
}
.col-lg-8{
	width: 20%;
	float: left;

}
.text-center{
	text-align: center;
	margin: 0 auto;
}
.text-right{
	text-align: right;
	margin: auto;
}
/*about section */
.about{
	background-color: #b1d0b43b;
	padding: 70px 0px;
}
.about h1{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 20px 0px;
}

.doctor-content{
	position: relative;
	margin-top: 260px;
}
.doctor h1{
	color: black;
	width: 100px;
	margin-top: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.doctor p{
	
	width: 80%;
	margin-top: 20px;
	margin-bottom: 40px;
}
.doctor a{
	color: #f2622c;
	font-size: 14px;

}

.doctor-i{
	margin: 100px 0;
}
.doctor-img{
	width: 100%;
}
.doctor-img img 
{
	width: 90%;
	margin-top: 30px;
	height: 400px;
}
.dept{
	padding: 70px 0px;
	background-color: #b1d0b43b;
}
.dept p{
	margin-top: 20px;
	font-size: 20px;
}
.con ul{
	list-style: none;
	margin-top: 50px;
}
.con ul li{
	display: inline-block;
	margin-left:10px;
}
.con ul li a{
	padding: 10px 30px;
	border: 1px solid black;
	color: black;
	transition: all .4s ease;
}
.con ul li a:hover{
	color:;
	/* color: #bbb4b4; */
	background: #e1e1e8;
}
.contact{
	background: #28377e;
}
.contact-contant{
	position: relative;
}
.contact h1{
	color: white;
	margin-top: 80px;
	letter-spacing: 2px;
}

.contact-input{
	margin: 80px 0px;
}

.contact-input input,textarea,button{
	width: 78%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #4759a7;
	margin-top: 10px;
	padding: 5px 10px;
	color: white;
	
}
.contact-input input::placeholder{
	color: white;
}
.contact-input textarea{
	height: 50px;
	color: white;

}
.contact-input button{
	border:none;
	background: #f2622c;
	width: 21%;
	padding: 10px 0;
	margin-top: 20px;
}
h2{
	color: transparent;
}
.text{
display: flex;
justify-content: center;
}
footer{
	padding: 10px 0px;
	background-color: #333;
}
footer a{
	color: white;
	font-size: 20px;
}