td,th{
 padding: 5px 5px;
 text-align: center;
}
th{
 background-color: #6699ff;
 color: #fafafa;
 font-weight: 50;
 text-transform: uppercase;

}
tr{
 width: 50%;
 background-color: #fafafa;
}
tr:nth-child(even){
 background-color: #eeeeee;
}