td,th{
 padding: 5px 5px;
 text-align: center;
}
th{
 background-color: #6699ff;
 color: #fafafa;
 font-weight: 50;
 text-transform: uppercase;

}
tr{
 width: 50%;
 background-color: #fafafa;
}
tr:nth-child(even){
 background-color: #eeeeee;
}
.btn{
	padding:0px 5px;
	cursor:pointer;
	margin:0px;
}
.bg{
	background-color: #6699ff;
}

.topnav {
  overflow: hidden;
  position:absolute;
  transition: .5s ease;
  left: auto;
  top: 42px;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 2px;
  margin-top: 10px;
  font-size: 15px;
  border: none; 
}
